@model Survey

<h1>Sumitted Info</h1>
<p>Name: @Model.Name</p>
<p>Dojo Location: @Model.Location</p>
<p>Favorite Language: @Model.Language</p>
<p>Comment: @Model.Comment</p>
<br>
<a class="btn btn-primary" href="/">Retake Survey</a>
